
@{
    ViewBag.Title = "ManageMenu";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/CustomJS/angular-Menu.js"></script>
<div ng-app="myApp">
    <div class="panel panel-primary divList" ng-controller="myCtrl" ng-init="GetAllData()">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>Manage Menu</b>
            </h3>
            <h5>
                <span id="spn">Add New Menu</span>
            </h5>
        </div>
        <!-- /.box-header -->
        <div class="panel-body">
            <div class="container">
                <div class="col-lg-12 well">
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Menu Name:</label>
                                        <input type="text" class="form-control" placeholder="Menu Name" ng-model="MenuName">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Icon:</label>
                                        <input type="text" class="form-control" placeholder="Menu Icon" ng-model="MenuIcon">
                                        <span style="color:gray">Ex. - @{string abc = "<i class='fab fa-example'></i>";}@abc</span><br />
                                        <span style="color:gray">Only input - @Html.Raw("fab fa-example")</span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Status:</label><br />
                                        <input id="chk1" type="checkbox" ng-change="GetValue()" ng-model="Status">{{ Test }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="button" id="btnSave" class="btn btn-primary" value="Submit" ng-click="InsertData()" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
                <table class="table table-hover table-bordered table-condensed" id="tblMenu">
                    <thead>
                        <tr>
                            <td><b>S.N</b></td>
                            <td><b>Menu Name</b></td>
                            <td><b>Menu Icon</b></td>
                            <td><b>Status</b></td>
                            <td><b>Action</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Emp in menus">

                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                {{Emp.MenuName}}
                            </td>
                            <td>
                                <i class="{{Emp.MenuIcon}}"></i>
                            </td>
                            <td>
                                {{Emp.Status}}
                            </td>
                            <td>
                                <a href="javascript:void(0)" ng-click="UpdateEmp(Emp)"><i class="far fa-edit fa-2x"></i></a><span style="font-size:xx-large"> | </span>
                                <a href="javascript:void(0)" ng-click="DeleteEmp(Emp)"><i class="fas fa-trash fa-2x"></i></a>                               
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <div class="panel-footer">
            <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@ViewBag.MenuCount</span></p>
        </div>
    </div>
</div>

@Html.Hidden("MenuId_")
