
@{
    ViewBag.Title = "ManageMenu";
}
<script src="~/Scripts/CustomJS/angular/ang-Menu.js"></script>
<div ng-app="myApp">
    <div class="panel panel-primary divList" ng-controller="ManageMenu" ng-init="GetAllMenu()">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>Manage Menu</b>
            </h3>
            <h5>
                <span id="spn">Add New Menu</span>
            </h5>
        </div>
        <!-- /.box-header -->
        <div class="panel-body">
            <div class="container">
                <div class="col-lg-12 well">
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class='required'>Menu Name:</label>
                                        <input type="text" ng-model="MenuName" placeholder="Menu Name" required class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label class='required'>Menu Icon:</label>
                                        <input type="text" class="form-control" placeholder="Menu Icon" ng-model="MenuIcon">
                                        <span style="color:gray">Menu Icon Sample:</span><br />
                                        <span style="color:gray">Ex. -@{string abc = "<i class='fab fa-example'></i>";} @abc</span><br />
                                        <span style="color:gray">Please enter only class, which is - @Html.Raw("fab fa-example")</span>
                                    </div>
                                    <div class="col-md-3">
                                        <label class='required'>Display Order:</label><br />
                                        <input type="text" ng-model="DisplayOrder" placeholder="Display Order" required class="form-control">
                                    </div>
                                    <div class="col-md-1">
                                        <label>Status:</label><br />
                                        <input id="chk1" type="checkbox" ng-change="GetStatus()" ng-model="Status"><br />{{ Test }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="button" id="btnSave" class="btn btn-primary" value="Submit" ng-click="InsertMenu()" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered table-condensed" id="tblMenu">
                <thead>
                    <tr>
                        <th><b>S.N</b></th>
                        <th><b>Menu Name</b></th>
                        <th><b>Menu Icon</b></th>
                        <th><b>Display Order</b></th>
                        <th><b>Status</b></th>
                        <th><b>Action</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="menu in menus">
                        <td>
                            {{$index + 1}}
                        </td>
                        <td>
                            {{menu.MenuName}}
                        </td>
                        <td>
                            <i class="{{menu.MenuIcon}}"></i>
                        </td>
                        <td>
                            {{menu.DisplayOrder}}
                        </td>
                        <td>
                            {{menu.Status}}
                        </td>
                        <td>
                            <a href="javascript:void(0)" ng-click="UpdateMenu(menu)"><i class="far fa-edit fa-2x"></i></a><span style="font-size:xx-large"> | </span>
                            <a href="javascript:void(0)" ng-click="DeleteMenu(menu)"><i class="fas fa-trash fa-2x"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer">
            <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@ViewBag.MenuCount</span></p>
        </div>
    </div>
</div>

@Html.Hidden("MenuId_")
