@model AdminWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "frm" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="box-title">
                <b>User Registration</b>
            </h3>
            <h5>Create a new account.</h5>
        </div>
        <!-- /.box-header -->
        <div class="panel-body">
            <div class="container">
                @*<h1 class="well">Registration Form</h1>*@
                <div class="col-lg-12 well">
                    <div class="row">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.FirstName)
                                        @Html.HiddenFor(m => m.UserId)
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", onkeypress = "return validateAlp(event)" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.LastName)
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", onkeypress = "return validateAlp(event)" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Email)
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.PhoneNo)
                                        @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control", onkeypress = "return validateInt(event)", minlength = "10", maxlength = "13" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("User Role")
                                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Roles, "Select", new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.Label("Date of Birth")
                                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control Calender", autocomplete = "off" })
                                    </div>
                                    @if (User.IsInRole("SuperAdmin"))
                                    {
                                        <div class="col-md-4">
                                            @Html.Label("Company")
                                            @Html.DropDownList("CompanyId", (SelectList)ViewBag.Companies, "Select", new { @class = "form-control" })
                                        </div>
                                    }
                                    else if (User.IsInRole("Admin"))
                                    {
                                        <div class="col-md-4">
                                            @Html.HiddenFor(m => m.CompanyId)
                                        </div>
                                    }

                                </div>
                                       <div class="row">
                                    <div class="col-md-4">
                                        @Html.Label("Profile Image")
                                        @*<input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="show(this)" data-buttonText="Select a File" class="btn btn-default btn-file"/>*@

                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-default btn-file"><span>Choose file</span><input type="file" name="UserPhoto" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" onchange="show(this)" /></span>
                                            <span class="fileinput-filename"></span><span class="fileinput-new" id="fileName">No file chosen</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img id="user_img" height="100" width="90" class="img-thumbnail" src="~/Images/UserProfileImages/noImgLarge.png" />
                                        <button type="button" class="btn btn-danger" id="remove">Remove</button>
                                    </div>                                   
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary" value="Submit" id="btnSubmit" />
                                        @*<input type="reset" class="btn btn-warning" value="Reset" id="btnClear" />*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <hr />
            <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
                <thead>
                    <tr>
                        <td><b>S.N</b></td>
                        <td><b>Username</b></td>
                        <td><b>Email</b></td>
                        <td><b>Roles</b></td>
                        <td><b>Action</b></td>
                    </tr>
                </thead>
                @if (ViewBag.UsersWithRole != null)
                {
                    var a = 0;
                    foreach (var user in ViewBag.UsersWithRole)
                    {
                        a = a + 1;
                        <tr>
                            <td> @a </td>
                            <td> @user.UserName </td>
                            <td> @user.Email </td>
                            <td> @user.Role </td>
                            <td>
                                <a href="javascript:void(0)" onclick="GetUserDetail('@user.UserId')"><i class="far fa-edit fa-2x"></i></a>
                                <span style="font-size:xx-large">
                                    |
                                </span><a href="@Url.Action("DeleteConfirmed", "Account", new { UserId = @user.UserId })"><i class="fas fa-trash fa-2x"></i></a>
                            </td>
                        </tr>
                        //}
                        @*else
                            {
                                <a href="javascript:void(0)"><i class="far fa-times-circle fa-2x" style="color:red" title="No Action"></i></a>
                            }*@
                    }
                }

            </table>
        </div>

        <div class="panel-footer">
            <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@ViewBag.Count</span></p>
        </div>
    </div>


    @section scripts{
        <script>
            function show(input) {
                if (input.files && input.files[0]) {
                    $('#fileName').text(input.files[0].name + ' (' + ((parseFloat(input.files[0].size) / 1024).toFixed(2)) + ' kb)')
                    $('#remove').text('Remove')
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        $('#user_img').attr('src', e.target.result);
                        $('#remove').show();
                    }
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
            $('#remove').on('click', function () {
                $('#fileUpload').val('');
                $('#fileName').text('No file chosen');
                $('#user_img').attr('src', '/Images/UserProfileImages/noImgLarge.png');
                $('#remove').hide();
            });
            $(function () {
                $('#remove').hide();
                GetDatatableFor("UsersWithRoles");
            });
            function GetUserDetail(UserId) {
                $.ajax({
                    url: "/Account/GetUser",
                    type: 'POST',
                    data: { UserId: UserId },
                    dataType: 'json', // added data type
                    success: function (userInfo) {
                        if (userInfo != false) {
                            $('#UserId').val(userInfo.UserId);
                            $('#FirstName').val(userInfo.FirstName);
                            $('#LastName').val(userInfo.LastName);
                            $('#Email').val(userInfo.Email);
                            $('#PhoneNo').val(userInfo.PhoneNo);
                            $("#UserRoles").val(userInfo.UserRoles);
                            $("#CompanyId").val(userInfo.CompanyId);
                            $("#DOB").val($.datepicker.formatDate('mm/dd/yy', new Date(userInfo.DOB)));
                            $('#user_img').attr('src', userInfo.strUserPhoto);
                            $('#btnSubmit').val("Update");
                        }
                        else {
                            toastrMsg("Unable to get the user!", "error");
                        }
                    }
                });
            }

        </script>
    }
}
